PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_SECRET=

SEED_SYSTEM_ADMIN_EMAIL=
SEED_SYSTEM_ADMIN_PASSWORD=

SEED_TENANT_ADMIN_EMAIL=
SEED_TENANT_ADMIN_PASSWORD=

JWT_TENANT_ACCESS_SECRET=
JWT_ACCESS_TOKEN_SECONDS=
